<!doctype html>
<html>
<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <link href="style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


</head>
<body>

<div ng-app="myapp">
  <div class="header">
    <div class="container" ng-controller="myctrl">

</header>
    <div class="page-header boxed">>
        <img src="img/expand.png" class="text-left"><h1 class="text" style="display:inline"><center>Shorten Your URL's</center></h1>
    </div>
      <div class="form-group">
        <label class="text" for="url">Long URL</label>
        <input type="text" id="filename" class="form-control" ng-model="longurl">
      </div>


<!-- Button to trigger modal -->
  <a href="#randomUrl" class="btn btn-primary" ng-click="randomShortener()" data-toggle="modal">Shorten Randomly</a>

  <a href="#customUrl" class="btn btn-primary" data-toggle="modal">Shorten Customizably</a>

<!-- Table to display existing URL's: -->
 <table>

      <thead >
      <tr>
        <td class="text">
           Original Link
        </td>
        <td class="text">
           Shortened Link
        </td>
        <td class="text">
           Date Generated
        </td>
        <td class="text">
            Times Clicked
        </td>
        <td class="text">
            Share
        </td>
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="url in allUrls | orderBy:'-id'">
        <td>{{ url.url }}</td>
        <td ng-if"url.hash"><a class="btn btn-info" target="_blank" href="{{ baseUrl + url.hash }}">{{ baseUrl + url.hash }}</a></td>
        <td>{{ url.date }}</a></td>
        <td class="text-right">{{ url.num_of_clicks }}</a></td>
        <td><a class="btn btn-warning" href="https://www.facebook.com/sharer/sharer.php?u={{baseUrl + url.hash}}">Post</a></td>    
      </tr>
     </tbody>
 </table>

<script>
     var myapp = angular.module('myapp', []);

      myapp.controller('myctrl', function ($scope,$http) {

       $scope.baseUrl = window.location.href;

       $http.get('/geturls')
          .success(function(data) {
          console.log('allUrls: ',data);
          $scope.allUrls = data;
      })
            .error(function(data) {
          console.log('Error: ' + data);
      });

      $scope.randomShortener = function() {
          $http.get('/add?url=' + $scope.longurl)
            .success(function(data) {
              console.log(data);
              $scope.longurl = '';
              data.date = 'Just Now';
              data.num_of_clicks = 'Start Sharing';
              data.id = $scope.allUrls.length+1;
              $scope.allUrls.push(data);
              }) 
          .error(function(data) {
          console.log('Error: ' + data);
         });
       };

       $scope.customShortener = function() {
          $http.get('/add?url=' + $scope.longurl + 
              '&vanity=' + $scope.vanity)
            .success(function(data) {
              console.log(data);
              $scope.longurl = '';
              data.date = 'Just Now';
              data.num_of_clicks = 'Start Sharing';
              data.id = $scope.allUrls.length+1;
              $scope.allUrls.push(data);
              }) 
          .error(function(data) {
          console.log('Error: ' + data);
         });
       };

    });
</script>

<br>

<!-- Modal #2- Customizable Shortener -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="randomUrl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title">Your shortlink is Ready!!</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>


<!-- Modal #2- Customizable Shortener -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="customUrl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title">Customizable Short Link</h4>
        </div>
        <div class="modal-body">
          
            <div class="form-group">
              <label for="filename">Add your vanity text: 
                <span>i.e. {{baseUrl + vanity}}</label>
              <input type="text" id="filename" class="form-control" ng-model="vanity"> 
            </div>
        </div>
          

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  ng-click="customShortener()">Create Custom Link</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>





<!-- Closing top divs that are part of ng-app -->
    </div>
</div>

</body>
</html>
